<div>
  <div class="top-dialog">
    <h1 mat-dialog-title>Dodaj źródło danych</h1>
    <button class="close-button" mat-icon-button (click)="onNoClick()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <app-data-source-form
    (formUpdated)="onSubmitDialog($event)"
    [disableFormInput]="false"
  >
  </app-data-source-form>
</div>
