.form-group {
  display: flex;
  flex-direction: column;
  max-width: 250px
}

.close-button {
  position: relative;
}

.top-dialog {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
}
