<div class="data-source-container">
  <div class="data-source-list">
    <div class="data-source-list-top">
      <h3>Źródła danych </h3>
      <button mat-mini-fab
              color="primary"
              mat-raised-button
              (click)="openDialog()"
              matTooltip="Dodaj nowe źródło danych">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-selection-list [(ngModel)]="dataSourceId" [multiple]="false" (ngModelChange)="onDataSourceChange()">
      <mat-list-option *ngFor="let ds of dataSources" [value]="ds.id">
        {{ds.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div>
  </div>
  <div *ngIf="dataSource" class="data-source-info">
    <app-data-source-form (formUpdated)="onUpdateDataSource($event)"
                      [disableFormInput]="blockEditForm"
                      [initialData]="dataSource">
    </app-data-source-form>
    <div class="buttons-container">
      <button mat-button (click)="blockEditForm=!blockEditForm">Edytuj</button>
      <button mat-button (click)="onDeleteDataSource()">Usuń</button>
    </div>
  </div>
</div>
