.data-source-container {
  display: flex;
  flex-direction: row;
  margin: 10px 3px 5px 10px;
}

.data-source-list {
  max-height: 100%;
  min-width: 300px;
}

.data-source-list-top {
  display: flex;
  flex-direction: row;
}

  .data-source-list-top > * {
    margin: 2px 3px 2px 3px;
  }


.option-container {
  display: flex;
  flex-direction: row;
}

.option-name {
  align-self: center;
  font-size: 22px;
  margin: 5px 5px 5px 5px;
}

.option-delete {
  align-self: center;
  margin: 5px 5px 5px 5px;
  right: 0px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.data-source-info {
  margin-left: 30px
}
