<div class="raport-generator-container">
  <div class="template-list">
    <h3>Szablony</h3>
    <mat-selection-list
      [(ngModel)]="template"
      [multiple]="false"
      (ngModelChange)="onChangeTemplate()"
    >
      <mat-list-option *ngFor="let template of templates" [value]="template.id">
        {{ template.name }}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="right-panel">
    <div *ngIf="paramsArray.length > 0 && template" class="params">
      <h3>Parametry</h3>
      <div [formGroup]="paramsArray" class="form">
        <div
          *ngFor="let param of paramsArray.controls; index as i"
          class="single-input-group"
        >
          <h6>
            {{ params[i].name }}
          </h6>
          <div
            *ngFor="let control of param.controls; index as j"
            class="single-input"
          >
            <mat-form-field [style.width.px]="200" [style.height.px]="50">
              <mat-label> {{ params[i].params[j].Name }} </mat-label>
              <input
                matInput
                [formControl]="control"
                type="number"
                *ngIf="params[i].params[j].Type == 'number'"
              />
              <input
                matInput
                [formControl]="control"
                type="text"
                *ngIf="params[i].params[j].Type == 'text'"
              />
              <mat-select
                [formControl]="control"
                *ngIf="params[i].params[j].Type == 'boolean'"
                required
              >
                <mat-option>--</mat-option>
                <mat-option *ngFor="let bool of bools" [value]="bool.value">
                  {{ bool.type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="params" *ngIf="paramsArray.length == 0 && template">
      <h3>Obiekt JSON</h3>
      <mat-form-field [style.width.px]="680">
        <mat-label>JSON</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="28"
          [(ngModel)]="JSONdata"
        >
        </textarea>
      </mat-form-field>
    </div>
    <div class="save">
      <div class="save_form">
        <mat-form-field [style.width.px]="280">
          <mat-label>Nazwa pliku</mat-label>
          <input matInput (change)="onFileNameChange($event)" />
        </mat-form-field>
        <mat-form-field [style.width.px]="80">
          <mat-label>Format</mat-label>
          <mat-select [(ngModel)]="extension">
            <mat-option
              *ngFor="let extension of extensions"
              [value]="extension.type"
            >
              {{ extension.type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="file_save_buttons" *ngIf="paramsArray.length > 0">
        <button mat-raised-button (click)="onGetFilledReport()">
          Pobierz raport
        </button>
        <button mat-raised-button (click)="onDocumentPreview()">
          Podgląd raporu
        </button>
      </div>
      <div class="file_save_buttons" *ngIf="paramsArray.length == 0">
        <button mat-raised-button (click)="onGetFilledReportFromJson()">
          Pobierz raport
        </button>
        <button mat-raised-button (click)="onJsonDocumentPreview()">
          Podgląd raporu
        </button>
      </div>
    </div>
  </div>
</div>
