.single-input {
  display: flex;
  flex-direction: row;
  margin: 0px 3px 0px 3px;
}

.raport-generator-container {
  display: flex;
  flex-direction: row;
  margin: 10px 3px 5px 10px;
}

.params {
  height: 500px;
  width: 1100px;
  overflow: hidden;
}


.form {
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-flow: column wrap;
  height: 400px;
}

  .form > * {
    flex: 0 1 auto;
  }

.right-panel {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.single-input-group {
  display: flex;
  flex-flow: column wrap;
  max-height: 450px;
}

  .single-input-group > * {
    flex: 0 1 auto;
  }


.save {
  margin: 20px 0px 5px 0px;
}

.file_save_buttons > * {
  margin: 2px 5px 2px 5px;
}


  .save_form > * {
    margin: 2px 5px 2px 5px
  }

.template-list {
    min-width: 250px;
}
