<form [formGroup]="metadataForm" (submit)="onSubmitForm()">
  <div>
    <mat-form-field>
      <mat-label>Nazwa</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Opis</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button type="submit">Zapisz</button>
  </div>
</form>
