<div class="main_container">
  <div class="template_list_container">
    <div class="header">
      <h3>Szablony</h3>
      <button
        mat-mini-fab
        color="primary"
        mat-raised-button
        (click)="onAddRedirect()"
        matTooltip="Dodaj nowy szablon"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-selection-list
      #templates_list
      [multiple]="false"
      (click)="
        onEditRedirect(templates_list.selectedOptions.selected[0]?.value)
      "
    >
      <div
        *ngFor="let template of templates"
        style="display: flex; flex-direction: row"
      >
        <mat-list-option [value]="template.id">
          {{ template.name }}
        </mat-list-option>
      </div>
    </mat-selection-list>
  </div>
</div>
