.header {
  display: flex;
  flex-direction: row;
  align-content: center;
}

  .header > * {
    margin: 2px 3px 2px 3px
  }

.template_list_container {
  margin: 10px 3px 5px 10px;
}

.main_container {
  display: flex;
  flex-direction: row;
}
