<div style="display: flex; flex-direction: row">
  <div>
    <app-document-editor-sidebar
      (templateChanged)="onReadCustomTemplate($event)"
      (documentSaved)="onSaveDocument($event)"
      (templateSaved)="onSaveTemplate($event)"
      (migrateTemplate)="onMigrateTemplate($event)"
      (printDocument)="onPrint()"
      (previewDocument)="onGetPDF()"
      [pdfSrc]="pdfSrc"
    ></app-document-editor-sidebar>
  </div>
  <div>
    <ejs-documenteditorcontainer
      #document_editor
      serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/"
      [enableToolbar]="true"
      (created)="onCreated()"
    >
    </ejs-documenteditorcontainer>
  </div>
</div>
