<mat-sidenav-container class="example-container">
  <mat-sidenav #sidebar class="example-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        Wybierz Plik
        <input type="file" name="upload" style="
            width: 100%;
            height: 100%;
            opacity: 0;
            filter: alpha(opacity=0);
          " (change)="onReadDocument($event.target.files)" />
      </mat-list-item>
      <mat-list-item (click)="openModal('custom-modal-2')">Podgląd</mat-list-item>
      <mat-list-item (click)="onPrint()">Drukuj</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>

<jw-modal id="custom-modal-2">
  <pdf-viewer [src]="pdfSrc" [render-text]="true"> </pdf-viewer>
  <button (click)="closeModal('custom-modal-2')">Close</button>
</jw-modal>