<div>
  <div class="top-dialog">
    <h1 mat-dialog-title>Dodaj szablon</h1>
    <button class="close-button" mat-icon-button (click)="onNoClick()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <app-metadata-form
    (formUpdated)="onSubmitDialog($event)"
    [disableFormInput]="data.disableForm"
    [initialData]="data.metadata"
  >
  </app-metadata-form>
</div>
