.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
}

.example-sidenav {
  user-select: none;
  width: 230px;
}

.full-width {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}

.toolbar-element {
  display: inherit;
  margin: 5px 5px 5px 5px;
  text-align: center;
  vertical-align: central;
  align-self: center;
}

.body-input {
  width: 100%;
  height: 60px;
  top: 0px;
  right: 0px;
  z-index: 5000;
}

.body-input:hover {
  width: 300px;
  height: 500px;
  transition: all 0.5s linear;
}
