<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    *ngFor="let link of links"
    routerLink="{{ link.url }}"
    routerLinkActive="active"
    (click)="activeLink = link"
    [active]="activeLink == link"
    >{{ link.name }}</a
  >
</nav>

<div class="example-sidenav-content">
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>
