<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>expand_more</mat-icon>
      <h6>Dane</h6>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="tableData">
      <ng-container
        *ngFor="let item of tableDataKeys"
        matColumnDef="{{ item }}"
      >
        <th mat-header-cell *matHeaderCellDef>{{ item }}</th>
        <td mat-cell *matCellDef="let element">{{ element[item] }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-expansion-panel>
