<div class="raport-generator-container">
  <div class="toolbar">
    <button
      mat-mini-fab
      color="primary"
      (click)="openDialog()"
      matTooltip="Zapisz szablon"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      matTooltip="Wczytaj istniejący szablon z pliku"
      (click)="file.click()"
    >
      <mat-icon>insert_drive_file</mat-icon>
    </button>
    <button
      *ngIf="!isCreatingNew && selectedTemplateId"
      mat-mini-fab
      color="primary"
      (click)="onDeleteTemplate()"
      matTooltip="Usuń szablon"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <input
      type="file"
      #file
      name="upload"
      style="opacity: 0; filter: alpha(opacity=0)"
      (change)="openFromFile($event.target.files)"
    />
  </div>
  <div class="bottom-container" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="form-container">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>expand_more</mat-icon>
            <h6>Zbiory danych</h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="data-set-input">
          <app-data-set-select
            (selectDataSet)="onGetDataSet($event)"
          ></app-data-set-select>
          <button mat-icon-button mat-raised-button (click)="onAddDataSet()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-list>
          <div
            *ngFor="let dataSet of templateDataSets"
            class="data-set-element"
          >
            <mat-list-item> {{ dataSet.name }} </mat-list-item>
            <button
              mat-icon-button
              mat-raised-button
              (click)="onRemoveDataSet(dataSet.id)"
            >
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>expand_more</mat-icon>
            <h6>Pola</h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="tags.length > 0" class="example-list">
          <mat-chip-list
            *ngIf="tags.length > 0"
            class="example-chip"
            cdkDropListOrientation="horizontal"
          >
            <mat-chip
              class="example-box"
              cdkDrag
              *ngFor="let tag of tags"
              [cdkDragData]="tag"
            >
              {{ tag }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-expansion-panel>
    </div>
    <div class="editor-container">
      <ejs-documenteditorcontainer
        #document_editor
        serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/"
        [enableToolbar]="true"
        (mousemove)="onMouseOver($event)"
        (created)="onCreated()"
      >
      </ejs-documenteditorcontainer>
    </div>
  </div>
</div>
