.example-list {
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.form-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin-left: 20px;
}

.raport-generator-container {
  margin: 5px 20px 5px 20px;
}

.data-sources-container {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 10px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
}

.editor-container {
  margin-left: 20px;
}

.header {
  min-width: 300px
}

.toolbar {
  width: 100%;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom:0px;
  z-index: 2;
}

  .toolbar > * {
    margin: 2px 10px 2px 10px;
  }


  .data-set-input {
      display: flex;
      flex-direction: row;
  }

  .data-set-input > * {
      margin: 2px 2px 2px 2px;
  }

  .data-set-element {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 300px;
  }

  .data-set-element > * {
      margin: 2px 2px 2px 2px;
  }
