.metadata input {
  display: block;
}

.metadata form {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 20px 20px 20px 20px;
}

.dataSource {
  width: 100%;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dataSource > * {
  margin: 2px 10px 2px 10px;
}

.dataSource span {
  margin-right: 10px;
}

.dataSource select {
  width: 200px;
}

.containerLeft {
  flex-direction: column;
}

.editor-container {
  width: 100%;
}

.et-container {
  width: 1000px;
}

.et-container table {
  width: 100%;
}

.form-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  min-width: 440px;
}

.header {
  min-width: 300px;
}

.param-controls {
  display: flex;
  flex-direction: row;
}

.param-controls > * {
  margin: 0px 4px 0px 4px;
}
