<div class="container">
  <div class="containerLeft">
    <div class="dataSource">
      <h4 class="header" *ngIf="!isCreatingNew">Zbiór danych</h4>
      <h4 class="header" *ngIf="isCreatingNew">Utwórz zbiór danych</h4>
      <mat-form-field *ngIf="isCreatingNew" style="width: 300px">
        <mat-label>Wybierz źródło danych</mat-label>
        <mat-select
          [ngModel]="selectedDataSourceId"
          (ngModelChange)="onDataSourceChange($event)"
        >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let source of dataSources" [value]="source.id">
            {{ source.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-mini-fab
        color="primary"
        (click)="openDialog()"
        matTooltip="Zapisz szablon"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button
        *ngIf="!isCreatingNew && selectedDataSetId"
        mat-mini-fab
        color="primary"
        (click)="onDeleteDataSet()"
        matTooltip="Usuń szablon"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        *ngIf="selectedDataSourceId"
        mat-mini-fab
        color="primary"
        (click)="getTableData()"
        matTooltip="Wyświetl dane w tabeli"
      >
        <mat-icon>table-rows</mat-icon>
      </button>
    </div>
    <div class="et-container">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>expand_more</mat-icon>
            <h6>SQL edytor</h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="editor-container">
          <ngx-codemirror
            #codeEditor
            [autoFocus]="true"
            [(ngModel)]="sqlEditorContent"
            (ngModelChange)="generatePropertiesFormArray()"
            [options]="config"
          ></ngx-codemirror>
        </div>
      </mat-expansion-panel>
      <app-data-set-table [dataSetMetadata]="dataSetMetadata">
      </app-data-set-table>
    </div>
  </div>
  <div class="form-container">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>expand_more</mat-icon>
          <h6>Parametry</h6>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="propertiesFormArray">
        <div
          class="param-controls"
          *ngFor="let control of propertiesFormArray.controls; index as i"
        >
          <mat-form-field>
            <mat-label>{{ properties[i] }}</mat-label>
            <mat-select #data_type [formControl]="control" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let data of dataTypes" [value]="data.value">
                {{ data.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="propertiesFormArray.value[i] != 'dataset'">
            <mat-label>Wartość domyślna</mat-label>
            <input
              matInput
              *ngIf="propertiesFormArray.value[i] == 'number'"
              type="number"
              [formControl]="defaultValuesFormArray.controls[i]"
            />
            <input
              matInput
              *ngIf="
                propertiesFormArray.value[i] == 'text' ||
                !propertiesFormArray.value[i]
              "
              type="text"
              [formControl]="defaultValuesFormArray.controls[i]"
            />
            <input
              matInput
              *ngIf="propertiesFormArray.value[i] == 'master-detail'"
              type="text"
              [formControl]="defaultValuesFormArray.controls[i]"
            />
            <mat-select
              [formControl]="defaultValuesFormArray.controls[i]"
              *ngIf="propertiesFormArray.value[i] == 'boolean'"
            >
              <mat-option [value]="true">true</mat-option>
              <mat-option [value]="false">false</mat-option>
            </mat-select>
          </mat-form-field>
          <app-data-set-select
            *ngIf="propertiesFormArray.value[i] == 'dataset'"
            (selectDataSet)="onGetParamDataSet($event, i)"
          ></app-data-set-select>
        </div>
      </form>
    </mat-expansion-panel>
  </div>
</div>
