<div>
  <mat-form-field style="width: 300px">
    <mat-label>Zbiór danych</mat-label>
    <mat-select [(ngModel)]="dataSetId" (ngModelChange)="onDataSetChange()">
      <mat-option>--</mat-option>
      <mat-option
        *ngFor="let set of dataSets"
        [value]="{ id: set.id, name: set.name }"
      >
        {{ set.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
