<form [formGroup]="dataSourceForm" (submit)="onSubmitForm()">
  <div formGroupName="dataSourceInfo" class="form-group">
    <mat-panel-title>
      <p>Źródło danych</p>
    </mat-panel-title>
    <mat-form-field>
      <mat-label>Nazwa</mat-label>
      <input matInput formControlName="SourceName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Typ</mat-label>
      <mat-select formControlName="SourceType">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let db of dbTypes" [value]="db.value">
          {{ db.type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div formGroupName="parameters" class="form-group">
    <mat-panel-title>
      <p>Parametry</p>
    </mat-panel-title>
    <mat-form-field>
      <mat-label>Host</mat-label>
      <input matInput formControlName="Host" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nazwa</mat-label>
      <input matInput formControlName="DbName" />
    </mat-form-field>
  </div>
  <div formGroupName="credentials" class="form-group">
    <mat-panel-title>
      <p>Uwierzytelnienie</p>
    </mat-panel-title>
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput formControlName="Login" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="Password" />
    </mat-form-field>
  </div>
  <div *ngIf="!disableFormInput">
    <button mat-button type="submit">Zapisz</button>
    <button mat-button type="button" (click)="onTestConnection()">
      Test połączenia
    </button>
  </div>
</form>
